## Final Assignment

In [42]:
import pandas as pd 

df = pd.read_excel('SerialKiller_Dataset_with_Targeted_Group_Type(FINAL).xlsx')
df

,Name,Birthday,Countries Active,Years Active,Proven Victims,Possible Victims,BirthYear,StartYear,Age At The Start of Killing,Notes,Type,Nickname,Reason,Archetype/Classification,Gender,Victim Age,Victim Gender,Targeted Group Type
0,Harold Shipman,1/14/1946,United Kingdom,1975-1998,218,250,1946.0,1975.0,29.0,Convicted of 15 murders and responsible for th...,"Hate Crime, Medical",Dr Death Angel of Death,Power,Power/Control,Male,Adult,Mixed,None
1,Miyuki Ishikawa,NaN,Japan,1940s,103+,169,NaN,1940.0,NaN,Killed more than 103 newborn children. As a ma...,Medical,NaN,Power,Power/Control,Female,Child,Mixed,None
2,Niels HÃƒgel,12/30/1976,Germany,1999-2005,100,300,1976.0,1999.0,23.0,Nurse who was sentenced to life imprisonment f...,"Hate Crime, Medical",NaN,Power,Power/Control,Male,Adult,Male,None
3,Louay Omar Mohammed al-Taei,NaN,Iraq,2005-2006,43,NaN,NaN,2005.0,NaN,Medical doctor found to have killed 43 wounded...,Medical,NaN,Power,Power/Control,Male,Adult,Male,None
4,Donald Harvey,4/15/1952,United States,1970-1987,37,57-87,1952.0,1970.0,18.0,Self-professed Angel of Death. Worked as an or...,"Hate Crime, Medical",Angel of Death,Power,Power/Control,Male,Adult,Mixed,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,Martin Dumollard,4/21/1810,United Kingdom,1855-1861,3,3,1810.0,1855.0,45.0,Dumollard was arrested and charged with the de...,"Rapist, Strangler, Sexual Predator",The Maid Killer,Sexual Assault,Hedonistic - Lust,Male,Adult,Female,None
635,Paul Denyer,4/14/1972,Austrailia,1993,3,5,1972.0,1993.0,21.0,"In 1993, Paul Denyer was sentenced to three co...","Sexual Predator, Strangler","Paula Denyer, Frankston Killer",Sexual Assault,Hedonistic - Lust,Male,Adult,Female,None
636,Gerard John Schaefer,3/25/1946,United States,1969-1973,2,30,1946.0,1969.0,23.0,Boasted he impressed fellow inmate Ted Bundy i...,Unknown,Killer Fiction,Power,Power/Control,Male,Adult,Mixed,None
637,Lucious Boyd,3/22/1959,United States,1993-1999,1,10,1959.0,1993.0,34.0,"He was known to kidnap, rape stab and murder h...","Rapist, Sexual Predator","Lucilous Boyd, Lucifer",Sexual Assault,Hedonistic - Lust,Male,Adult,Male,None
638,Bruce Mendenhall,4/14/1951,United States,2007,1,6,1951.0,2007.0,56.0,"Mendenhall worked as a long haul trucker, he h...",Unknown,The Truck Stop Killer,Femicide,Power and Hedonistic,Male,Adult,Female,None

In [43]:
unique_archetypes = df['Archetype/Classification'].unique()
print(unique_archetypes)

['Power/Control' 'Hedonistic - Lust' 'Hedonistic' 'Power and Hedonistic'
 'Mission-Oriented (Hate-Crime/Targeted Groups)' 'Power' 'Hate Crime'
 'Visionary' 'Hedonistic - Thrill' 'Profit Killer' 'Power/Control - Lust']

In [44]:

df_copy = df
# Rename 'Hedonistic - Lust' to 'Hedonistic' in the column
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Hedonistic - Lust', 'Hedonistic')
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Hedonistic - Thrill', 'Hedonistic')
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Profit Killer', 'Hedonistic')
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Hate Crime', 'Missionary')
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Mission-Oriented (Hate-Crime/Targeted Groups)', 'Missionary')


# Verify the change
unique_archetypes = df_copy['Archetype/Classification'].unique()
print(unique_archetypes)

# Filter rows where the updated value is 'Hedonistic'
hedonistic_rows = df_copy[df_copy['Archetype/Classification'] == 'Hedonistic']
hedonistic_rows

['Power/Control' 'Hedonistic' 'Power and Hedonistic' 'Missionary' 'Power'
 'Visionary' 'Power/Control - Lust']

,Name,Birthday,Countries Active,Years Active,Proven Victims,Possible Victims,BirthYear,StartYear,Age At The Start of Killing,Notes,Type,Nickname,Reason,Archetype/Classification,Gender,Victim Age,Victim Gender,Targeted Group Type
5,Jane Toppan,3/31/1854,United States,1885-1901,31,NaN,1854.0,1885.0,31.0,Nurse that confessed to poisoning 31 patients ...,"Hate Crime, Medical, Sexual Predator","Angel of Death, Jolly Jane",Sexual Assault,Hedonistic,Female,Adult,Male,Elderly
28,Andrés Ulises Castillo Villarreal,NaN,Mexico,2009-2015,3,12+,NaN,2009.0,NaN,"Drugged, raped and then killed men in Chihuahu...","Medical, Rapist, Sexual Predator",The Chihuahua Ripper,Sexual Assault,Hedonistic,Male,Adult,Male,None
29,Elfriede Blauensteiner,1/22/1931,Austria,1981-1995,3,10+,1931.0,1981.0,50.0,Poisoned people for material gain; died from a...,"Financial Motive, Medical",The Black Widow,Financial Gain,Hedonistic,Male,Adult,Mixed,None
30,Carl Eugene Watts,1953-07-11 00:00:00,United States,1974-1982,14,80+,1953.0,1974.0,21.0,Believed to have killed over 80 women in multi...,"Financial Motive, Serial Killer, Strangler, St...","Coral Watts, The Sunday Morning Slasher",Financial Gain,Hedonistic,Male,Adult,Female,None
31,Philipp Tyurin,NaN,Soviet Union,1945-1946,14,29,NaN,1945.0,NaN,Murdered people for monetary reasons at his hu...,Financial Motive,"Leningrad Maniac, The Hellraiser",Financial Gain,Hedonistic,Male,Adult,Mixed,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,John Martin Crawford,3/29/1962,Canada,1981-1992,4,4,1962.0,1981.0,19.0,Crawford raped tortured and killed three nativ...,"Rapist, Torturer, Strangler, Sexual Predator",The Lady Killer,Sexual Assault,Hedonistic,Male,Adult,Female,None
633,Jiri Straka,4/14/1969,Czech Republic,1985,3,3,1969.0,1985.0,16.0,"In 1985, Straka attacked eleven women in Pragu...","Rapist, Sexual Predator",The Spartakiad killer,Sexual Assault,Hedonistic,Male,Adult,Female,None
634,Martin Dumollard,4/21/1810,United Kingdom,1855-1861,3,3,1810.0,1855.0,45.0,Dumollard was arrested and charged with the de...,"Rapist, Strangler, Sexual Predator",The Maid Killer,Sexual Assault,Hedonistic,Male,Adult,Female,None
635,Paul Denyer,4/14/1972,Austrailia,1993,3,5,1972.0,1993.0,21.0,"In 1993, Paul Denyer was sentenced to three co...","Sexual Predator, Strangler","Paula Denyer, Frankston Killer",Sexual Assault,Hedonistic,Male,Adult,Female,None
637,Lucious Boyd,3/22/1959,United States,1993-1999,1,10,1959.0,1993.0,34.0,"He was known to kidnap, rape stab and murder h...","Rapist, Sexual Predator","Lucilous Boyd, Lucifer",Sexual Assault,Hedonistic,Male,Adult,Male,None

In [45]:

# Filter rows where the updated value is 'Hedonistic'
hedonistic_rows = df_copy[df_copy['Archetype/Classification'] == 'Power/Control']
hedonistic_rows

# Remove 'Hate Crime,' from the 'Type' column
df_copy['Type'] = df_copy['Type'].str.replace('Hate Crime, Medical', 'Medical', regex=False).str.strip()

# Verify the change
print(df_copy['Type'].unique())

['Medical' 'Medical, Sexual Predator' 'Medical, Rapist, Sexual Predator'
 'Financial Motive, Medical'
 'Financial Motive, Serial Killer, Strangler, Stalker' 'Financial Motive'
 'Unknown' 'Sexual Predator'
 'Cannibal, Cannibal, Strangler, Rapist, Necrophiliac, Sexual Predator'
 'Strangler' 'Hate Crime'
 'Sexual Predator, Vampire, Rapist, Pedophile, Necrophiliac'
 'Rapist, Sexual Predator' 'Rapist, Stalker, Sexual Predator'
 'Strangler, Stalker'
 'Rapist, Torturer, Strangler, Stalker, Sexual Predator' 'Cannibal'
 'Rapist, Strangler, Sexual Predator' 'Hate Crime, Strangler'
 'Sexual Predator, Strangler, Torturer' 'Pedophile, Sexual Predator'
 'Rapist, Torturer, Strangler, Sexual Predator'
 'Pedophile, Rapist, Sexual Predator' 'Serial Killer, Torturer, Strangler'
 'Necrophiliac, Strangler, Rapist, Sexual Predator'
 'Sexual Predator, Strangler, Rapist, Torturer, Stalker' 'Vampire'
 'Hate Crime, Strangler, Torturer'
 'Rapist, Necrophiliac, Torturer, Strangler, Sexual Predator'
 'Hate Crime, Rapist, Strangler, Sexual Predator'
 'Cannibal, Cannibal, Strangler'
 'Rapist, Necrophiliac, Strangler, Sexual Predator'
 'Necrophiliac, Rapist, Strangler, Sexual Predator'
 'Cannibal, Necrophiliac, Cannibal, Rapist, Sexual Predator'
 'Sexual Predator, Torturer, Strangler'
 'Hate Crime, Rapist, Sexual Predator' 'Rapist, Torturer, Sexual Predator'
 'Rapist, Necrophiliac, Sexual Predator'
 'Rapist, Serial Killer, Sexual Predator'
 'Cannibal, Rapist, Torturer, Cannibal, Necrophiliac, Strangler, Sexual Predator'
 'Cannibal, Rapist, Cannibal, Necrophiliac, Strangler, Sexual Predator'
 'Torturer, Strangler, Stalker'
 'Rapist, Strangler, Stalker, Sexual Predator'
 'Cannibal, Sexual Predator, Vampire' 'Cannibal, Rapist, Sexual Predator'
 'Financial Motive, Rapist, Sexual Predator'
 'Hate Crime, Torturer, Strangler' 'Strangler, Pedophile'
 'Cannibal, Rapist, Cannibal, Sexual Predator'
 'Hate Crime, Sexual Predator, Strangler, Rapist'
 'Medical, Rapist, Necrophiliac, Stalker, Sexual Predator'
 'Torturer, Strangler' 'Sexual Predator, Strangler, Rapist'
 'Serial Killer, Rapist, Strangler, Vampire, Sexual Predator, Vampire'
 'Sexual Predator, Vampire' 'Necrophiliac' 'Necrophiliac, Sexual Predator'
 'Pedophile, Rapist, Strangler, Sexual Predator'
 'Hate Crime, Necrophiliac' 'Cannibal, Cannibal, Rapist, Sexual Predator'
 'Cannibal, Rapist, Pedophile, Necrophiliac, Strangler, Cannibal, Sexual Predator'
 'Strangler, Necrophiliac' 'Necrophiliac, Rapist, Sexual Predator'
 'Rapist, Strangler, Torturer, Sexual Predator'
 'Rapist, Necrophiliac, Vampire, Sexual Predator'
 'Cannibal, Cannibal, Rapist, Strangler, Necrophiliac, Sexual Predator'
 'Serial Killer, Rapist, Strangler, Sexual Predator' 'Pedophile' 'Stalker'
 'Cannibal, Cannibal, Torturer, Strangler, Sexual Predator' 'Terrorist'
 'Necrophiliac, Torturer, Rapist, Pedophile, Sexual Predator'
 'Rapist, Pedophile, Sexual Predator'
 'Rapist, Pedophile, Strangler, Sexual Predator'
 'Cannibal, Cannibal, Torturer' 'Vigilante'
 'Rapist, Necrophile, Sexual Predator'
 'Rapist, Torturer, , Sexual Predator'
 'Rapist, Necrophile, Strangler, Sexual Predator' 'Hate Crime, Stangler'
 'Torturer' 'Financial Motive, Hate Crime'
 'Rapist, Necrophliac, Strangler, Sexual Predator'
 'Necrophiliac, Torturer, Strangler, Rapist, Stalker, Sexual Predator'
 'Cannibal, Vampire, Cannibal, Torturer'
 'Rapist, Necrophliac, Sexual Predator'
 'Financial Motive, Rapist, Torturer, Strangler, Stalker, Sexual Predator'
 'Financial Motive, Rapist, Necrophiliac, Strangler, Pedophile, Sexual Predator'
 'Cannibal, Sexual Predator, Vampire, Rapist, Cannibal, Necrophiliac'
 'Cannibal, Rapist, Necrophiliac, Strangler, Cannibal, Sexual Predator'
 'Rapist, Necrophiliac, Strangler, Pedophile, Sexual Predator'
 'Rapist, Necrophiliac, Pedophile, Sexual Predator'
 'Hate Crime, Rapist, Necrophiliac, Sexual Predator'
 'Cannibal, Rapist, Vampire, Cannibal, Necrophiliac, Strangler, Sexual Predator'
 'Financial Motive, Rapist, Necrophiliac, Sexual Predator'
 'Rapist, Necrophiliac, Torturer, Sexual Predator'
 'Financial Motive, Medical, Rapist, Torturer, Sexual Predator'
 'Sexual Predator, Strangler' 'Rapists, Strangler, Sexual Predator'
 'Rapist, Strangler, Vampire, Sexual Predator'
 'Rapist, Strangler, Torturer, Stalker, Sexual Predator'
 'Financial Motive, Rapist, Strangler, Sexual Predator'
 'Sexual Predator, Torturer, Stalker' 'Torturer, Stranger'
 'Financial Motive, Rapist, Torturer, Sexual Predator'
 'Cannibal, Cannibal, Torturer, Strangler'
 'Cannibal, Medical, Cannibal, Strangler'
 'Medical, Rapist, Strangler, Stalker, Sexual Predator'
 'Sexual Predator, Torturer'
 'Rapist, Necrophiliac, Torturer, Stalker, Sexual Predator'
 'Financial Motive, Rapist, Torturer, Strangler, Sexual Predator'
 'Rapist, Stalker, Strangler, Sexual Predator' 'Visionary'
 'Financial Gain'
 'Pedophile, Rapist, Strangler, Stalker, Incest, Sexual Predator'
 'Rapist, Strangler, Pedophile, Sexual Predator'
 'Financial Motive, Strangler'
 'Pedophile, Rapist, Torturer, Sexual Predator'
 'Sexual Predator, Vampire, Rapist, Strangler, Stalker'
 'Cannibal, Pedophile, Rapist, Vampire, Cannibal, Torturer, Stalker, Sexual Predator, Vampire'
 'Rapist, Torturer, Stalker, Sexual Predator'
 'Financial Motive, Rapist, Torturer, Stalker, Strangler, Sexual Predator'
 'Rapist, Necrophiliac, Strangler, Stalker, Sexual Predator'
 'Cannibal, Financial Motive'
 'Cannibal, Rapist, Cannibal, Strangler, Sexual Predator'
 'Medical, Rapist, Torturer, Strangler, Stalker, Sexual Predator'
 'Cannibal, Rapist, Cannibal, Torturer, Sexual Predator']

In [52]:
# Count the number of missing (NaN) values in the 'Birthday' column
missing_birthday_count = df['Birthday'].isna().sum()

print(f"Number of missing values in the 'Birthday' column: {missing_birthday_count}")
# Drop rows where 'Birthday' is missing
df_cleaned = df_copy.dropna(subset=['Birthday'])

# Verify the result
print(f"Number of rows after dropping missing birthdays: {len(df_cleaned)}")

Number of missing values in the 'Birthday' column: 114
Number of rows after dropping missing birthdays: 525

In [46]:
# Filter rows where the updated value is 'Hedonistic'
hedonistic_rows = df_copy[df_copy['Archetype/Classification'] == 'Power and Hedonistic']
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Power and Hedonistic', 'Power/Control')
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Power', 'Power/Control')
# Filter rows where the updated value is 'Hedonistic'
hedonistic_rows = df_copy[df_copy['Archetype/Classification'] == 'Visionary']
hedonistic_rows

,Name,Birthday,Countries Active,Years Active,Proven Victims,Possible Victims,BirthYear,StartYear,Age At The Start of Killing,Notes,Type,Nickname,Reason,Archetype/Classification,Gender,Victim Age,Victim Gender,Targeted Group Type
52,Herbert Mullin,4/18/1947,United States,1972-1973,13,NaN,1947.0,1972.0,25.0,"Despite detailed confessions, prosecutors deci...",Unknown,The Psychopath of Santa Cruz,Mental Illness,Visionary,Male,Adult,Male,None
59,Nikolay Shubin,NaN,Russia,2004-2006,13,NaN,NaN,2004.0,NaN,Paranoid schizophrenic who killed people who b...,Unknown,NaN,Mental Illness,Visionary,Male,Adult,Male,None
165,TomÃƒÂ¡s Maldonado Cera,NaN,Colombia,2002-2018,7,10,NaN,2002.0,NaN,Killed people in Barranquila for the purpose o...,Unknown,The Satanist,Occult Ritual,Visionary,Male,Adult,Mixed,None
410,John George Haigh,7/24/1909,United Kingdom,1944-1949,6,9,1909.0,1944.0,35.0,Known as the Acid Bath Murderer for dissolving...,Vampire,Acid Bath Murderer,Religious,Visionary,Male,Adult,Mixed,None
416,Robert Rozier,7/28/1955,United States,1981-1986,4,7,1955.0,1981.0,26.0,Rozier was a former American football defensiv...,Unknown,"Neariah Israel, Child of God",Religious,Visionary,Male,Child,Mixed,None
483,Daniel Blank,6/28/1962,United States,1996-1997,6,6,1962.0,1996.0,34.0,He has a learning disability that hampers his ...,Visionary,NaN,Mental Illness,Visionary,Male,Adult,Mixed,Elderly
512,Aaron Kosminski,9/11/1865,United Kingdom,1888-1891,5,11,1865.0,1888.0,23.0,Aaron Kosminski (Aron Mordke KozmiÃ…Â„ski) a s...,Unknown,Jack the Ripper (possible),Mental Illness,Visionary,Male,Adult,Mixed,None
566,LÃƒÂ©opold Dion,2/25/1920,Canada,1963,4,4,1920.0,1963.0,43.0,LÃƒÂ©opold Dion a Canadian sex offender and se...,Unknown,Monster of Port-Rouge,Mental Illness,Visionary,Male,Adult,Male,None

In [49]:

# Verify the change
unique_archetypes = df_copy['Archetype/Classification'].unique()
print(unique_archetypes)
hedonistic_rows = df_copy[df_copy['Archetype/Classification'] == 'Power/Control - Lust']
hedonistic_rows
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Power/Control - Lust', 'Power/Control')
# Verify the change
unique_archetypes = df_copy['Archetype/Classification'].unique()
print(unique_archetypes)

['Power/Control' 'Hedonistic' 'Missionary' 'Visionary'
 'Power/Control - Lust']
['Power/Control' 'Hedonistic' 'Missionary' 'Visionary']

In [57]:
# Filter rows where 'Age At The Start of Killing' is null
missing_age_rows = df_cleaned[df_cleaned['Age At The Start of Killing'].isnull()]

# Display the rows with null values in 'Age At The Start of Killing'
print((missing_age_rows))
print(len(missing_age_rows))

                      Name             Birthday           Countries Active  \
9           Arnfinn Nesset           10/25/1936                     Norway
19       Christine Malèvre  1970-10-01 00:00:00                     France
24          Kermit Gosnell  1941-09-02 00:00:00              United States
44           Belle Gunness           11/22/1859              United States
82           Juana Barraza           12/27/1957                     Mexico
97   Very Idham Henyansyah  1978-01-02 00:00:00                  Indonesia
144         Yoshio Kodaira            1/28/1905             ChinaÃ‚Â Japan
153   Nikolai Dzhumagaliev           11/15/1952               Soviet Union
267      Ernesto Picchioni  1967-09-09 00:00:00  Kingdom of ItalyÃ‚Â Italy

         Years Active Proven Victims Possible Victims  BirthYear  StartYear  \
9    1983 and earlier             22             138+     1936.0        NaN
19   1998 and earlier              6               30     1970.0        NaN
24         1989?-2011              4             100+     1941.0        NaN
44        1900?-1908?             13              40+     1859.0        NaN
82    late 1990s-2006             11            29-49     1957.0        NaN
97   2008 and earlier             11               11     1978.0        NaN
144        1928?-1946          8-11+               11     1905.0        NaN
153  1980 and earlier              7           50-100     1952.0        NaN
267  1949 and earlier              4               16     1967.0        NaN

     Age At The Start of Killing  \
9                            NaN
19                           NaN
24                           NaN
44                           NaN
82                           NaN
97                           NaN
144                          NaN
153                          NaN
267                          NaN

                                                 Notes  \
9    Norwegian nurse and most prolific known serial...
19   Nurse who killed terminally ill patients claim...
24   Gosnell, who ran an abortion clinic, was charg...
44   Norwegian-born murder-for-profit killer who mu...
82   Female wrestler who bludgeoned or strangled el...
97   Known as the "singing serial killer" and "Ryan...
144  A serial rapist, Kodaira killed his father-in-...
153  Lured women in a park at night and hacked them...
267  Murdered people who approached his home; died ...

                                                 Type  \
9                                             Medical
19                                            Medical
24                                            Medical
44                                 Strangler, Stalker
82     Hate Crime, Rapist, Strangler, Sexual Predator
97                                            Unknown
144  Rapist, Necrophiliac, Strangler, Sexual Predator
153       Cannibal, Rapist, Cannibal, Sexual Predator
267                                           Unknown

                                 Nickname                       Reason  \
9                                     NaN                        Power
19                                    NaN               Mental Illness
24                                    NaN                        Power
44    Hell's Belle, Brynhild Paulsdatter                      Femicide
82   La Mataviejitas, The Old Lady Killer               Sexual Assault
97            Singing serial killer, Ryan                        Power
144                                   NaN               Sexual Assault
153        Metal Fang, Kolya the Maneater  Cannibalism, Sexual Assault
267                                   NaN                        Power

    Archetype/Classification  Gender Victim Age Victim Gender  \
9              Power/Control    Male      Adult          Male
19             Power/Control  Female      Adult         Mixed
24             Power/Control    Male      Child         Mixed
44             Power/Control  Female      Child        Female
82                Hedonistic    Male      Adult        Female
97             Power/Control    Male      Adult         Mixed
144               Hedonistic    Male      Adult        Female
153               Hedonistic    Male      Adult        Female
267            Power/Control    Male      Adult         Mixed

    Targeted Group Type
9               Elderly
19              Elderly
24                 None
44                 None
82              Elderly
97                 None
144                None
153                None
267                None
9

In [ ]:
# Convert 'StartYear' and 'EndYear' columns to whole numbers (integer type)
df_cleaned['Age At The Start of Killing'] = df_cleaned['Age At The Start of Killing'].astype(int)

# Verify the changes
print(df_cleaned.dtypes)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer