## Final Assignment

#### Imports

In [139]:
import pandas as pd

#### 2. Get the data

In [140]:
df = pd.read_excel('SerialKiller_Dataset.xlsx')
df

,Name,Birthday,Countries Active,Years Active,Proven Victims,Possible Victims,BirthYear,StartYear,Age At The Start of Killing,Notes,Type,Nickname,Reason,Archetype/Classification,Gender,Victim Age,Victim Gender,Targeted Group Type
0,Ray Copeland,12/30/1914,United States,1986-1989,5,12,1914.0,1986.0,72.0,Ray Copeland is an American serial killer who ...,Unknown,NaN,Power,Power/Control,Male,Adult,Mixed,NaN
1,Faye Copeland,1921-04-08 00:00:00,United States,1986-1989,5,12,1921.0,1986.0,65.0,Faye Copeland (born Faye Della Wilson) is an A...,Unknown,NaN,Power,Power/Control,Female,Adult,Mixed,NaN
2,Salvatore Perrone,11/22/1948,United States,2012,3,3,1948.0,2012.0,64.0,A failing business owner and former door-to-do...,Unknown,"The Son of Sal, John Doe Duffel Bags_x000D_\n",Power,Power/Control,Male,Adult,Male,NaN
3,Viktor Fokin,2/19/1935,Russia,1996-2000,9,10+,1935.0,1996.0,61.0,"Pensioner who lured, killed and then dismember...",Hate Crime,Grandfather Ripper,Hate Crime,Mission-Oriented (Hate-Crime/Targeted Groups),Male,Adult,Female,NaN
4,Andr??Â?s P??Â?ndy,1927-01-06 00:00:00,Belgium,1986-1990,6,14+,1927.0,1986.0,59.0,"Former clergyman, killed his two wives and fou...",Unknown,Father Bluebeard,Power,Power/Control,Male,Child,Male,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,Süleyman Aktaş,NaN,Turkey,1986-1994,5,5,NaN,1986.0,NaN,"In 1986, he killed police superintendent Nuri...","Hate Crime, Stangler",The Nailing Killer,Thrill,Hedonistic,Male,Adult,Male,Elderly
635,Valery Asratyan,NaN,Russia,1988-1990,3,3,NaN,1988.0,NaN,During Valery Asratyan's crimes as a serial ki...,"Financial Motive, Rapist, Sexual Predator",The Director,"Financial Gain, Sexual Assault",Hedonistic,Male,Adult,Female,NaN
636,Dmitry Baksheev,NaN,Russia,1999-2017,1,30,NaN,1999.0,NaN,"Dmitry Baksheev, and his wife Natalia Baksheev...",Cannibal,Cannibal Couple,Cannibalism,Hedonistic,Male,Adult,Female,NaN
637,Natalia Baksheev,NaN,Russia,1999-2017,1,30,NaN,1999.0,NaN,"Natalia Baksheev, and her husband Dmitry Baksh...",Cannibal,Cannibal Couple,Cannibalism,Hedonistic,Female,Adult,Female,NaN
638,Bakhtiyor Matyakubov,NaN,Uzbekistan,2015,3,11,NaN,2015.0,NaN,Evidence against Matyakubov includes CCTV foot...,"Financial Motive, Rapist, Necrophiliac, Sexual...",NaN,"Financial Gain, Sexual Assault",Hedonistic,Male,Adult,Female,NaN

##### Checking the size and type of data

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639 entries, 0 to 638
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         639 non-null    object
 1   Birthday                     539 non-null    object
 2   Countries Active             639 non-null    object
 3   Years Active                 639 non-null    object
 4   Proven Victims               639 non-null    object
 5   Possible Victims             577 non-null    object
 6   BirthYear                    575 non-null    float64
 7   StartYear                    627 non-null    float64
 8   Age At The Start of Killing  560 non-null    float64
 9   Notes                        632 non-null    object
 10  Type                         639 non-null    object
 11  Nickname                     431 non-null    object
 12  Reason                       639 non-null    object
 13  Archetype/Classification     639 non-null    object
 14  Gender                       639 non-null    object
 15  Victim Age                   639 non-null    object
 16  Victim Gender                639 non-null    object
 17  Targeted Group Type          42 non-null     object
dtypes: float64(3), object(15)
memory usage: 90.0+ KB

From the names and types of columns, we inferred that it would make sense to check for outliers in the numeric data, such as BirthYear, StartYear and Age At the Start of Killing (which was calculated using StartYear-BirthYear).

### 3. Explore the data

#### Studying features

In [142]:
# Creating a copy of the data
df_copy = df

In [143]:
# Describing the data to get an overview of statistics, and also checking for outliers
df_copy.describe()

         BirthYear    StartYear  Age At The Start of Killing
count   575.000000   627.000000                   560.000000
mean   1946.036522  1976.089314                    29.794643
std      33.263813    32.439942                     9.447092
min    1560.000000  1590.000000                    10.000000
25%    1940.000000  1970.000000                    23.000000
50%    1953.000000  1983.000000                    29.000000
75%    1964.500000  1994.000000                    35.000000
max    1993.000000  2018.000000                    72.000000

In [144]:
# Checking the amount of total rows aka serial killers in the database
print(len(df.index))

639

Based on the minimum and maximum ages and years, it does not seem that there are any outliers (no negatives or unreasonable numbers). However, looking at the difference in counts and the fact that it did not match the total number of rows made us realize that there is missing data. Therefore, we decided to check the percentage of it.

In [145]:
# Checking the percentage of missing data
missing_percentage = df_copy.isnull().sum() / len(df_copy) * 100
print(missing_percentage)

Name                            0.000000
Birthday                       15.649452
Countries Active                0.000000
Years Active                    0.000000
Proven Victims                  0.000000
Possible Victims                9.702660
BirthYear                      10.015649
StartYear                       1.877934
Age At The Start of Killing    12.363067
Notes                           1.095462
Type                            0.000000
Nickname                       32.550861
Reason                          0.000000
Archetype/Classification        0.000000
Gender                          0.000000
Victim Age                      0.000000
Victim Gender                   0.000000
Targeted Group Type            93.427230
dtype: float64

#### Identifying the target

Since we want to be able to do criminal profiling based on the data input, the selected target was 'Archetype/Classification', as it would help the police classify the type of criminal based on the amount and type of killings, as well as their victim profile.

In [146]:
y = df_copy['Archetype/Classification']

#### Dropping unnnecessary features

We decided to drop Name, Notes and Nickname as they did not provide any valuable information. We also dropped Type due to the fact that it explained the same type of information as Reason and Archetype/Classification. Additionally, we got rid of Birthday, BirthYear, StartYear as we already had the information about the age in a separate column.

In [149]:
columns_to_drop = ['Name', 'Birthday', 'Notes', 'Nickname', 'StartYear', 'BirthYear', 'Type']
df_cleaned = df_copy.drop(columns=columns_to_drop)
df_cleaned
print(df_cleaned.columns)

Index(['Countries Active', 'Years Active', 'Proven Victims',
       'Possible Victims', 'Age At The Start of Killing', 'Reason',
       'Archetype/Classification', 'Gender', 'Victim Age', 'Victim Gender',
       'Targeted Group Type'],
      dtype='object')

In [151]:
# Dropping NaN for the AgeAtTheStartOfKilling column
df_updated = df_cleaned.dropna(subset=['Age At The Start of Killing'])

TypeError: DataFrame.dropna() takes 1 positional argument but 2 were given

In [ ]:
print(df_updated.isna().sum())

KeyError: 'Age At The Start of Killing'

#### Study correlations between features

In [126]:
# Encoding features
from sklearn.preprocessing import LabelEncoder

# Create a copy of the DataFrame to avoid modifying the original
encoded_df = df_copy.copy()

# Apply LabelEncoder to each non-numeric column
for column in encoded_df.select_dtypes(include=['object']).columns:
    encoded_df[column] = LabelEncoder().fit_transform(encoded_df[column])

# Perform correlation
correlation_matrix = encoded_df.corr()

print(correlation_matrix)

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['datetime', 'float', 'str']

In [101]:
df_copy.corr()

ValueError: could not convert string to float: 'Ray Copeland'

In [91]:
# Assesing archetypes
unique_archetypes = df['Archetype/Classification'].unique()
print(unique_archetypes)

['Power/Control' 'Missionary' 'Hedonistic' 'Visionary']

In [92]:
# Renaming archetypes to match the 4 relevant types mentioned in our research
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Hedonistic - Lust', 'Hedonistic')
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Hedonistic - Thrill', 'Hedonistic')
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Profit Killer', 'Hedonistic')
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Hate Crime', 'Missionary')
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Mission-Oriented (Hate-Crime/Targeted Groups)', 'Missionary')


# Verifying the change
unique_archetypes = df_copy['Archetype/Classification'].unique()
print(unique_archetypes)

# Filtering rows where the updated value is 'Hedonistic'
hedonistic_rows = df_copy[df_copy['Archetype/Classification'] == 'Hedonistic']
hedonistic_rows

['Power/Control' 'Missionary' 'Hedonistic' 'Visionary']

,Name,Birthday,Countries Active,Years Active,Proven Victims,Possible Victims,BirthYear,StartYear,Age At The Start of Killing,Notes,Type,Nickname,Reason,Archetype/Classification,Gender,Victim Age,Victim Gender,Targeted Group Type
5,Gary Hilton,1946-12-11 00:00:00,United States,2005-2008,4,6,1946.0,2005.0,59.0,"On January 30, 2008, Gary Hilton pleaded guilt...","Hate Crime, Rapist, Sexual Predator",The National Forest Serial Killer,Sexual Assault,Hedonistic,Male,Adult,Mixed,Elderly
6,Hubert Pilcik,10/14/1891,Czech Republic,1948-1951,5,10,1891.0,1948.0,57.0,Pilcik made money smuggling people across the ...,"Financial Motive, Rapist, Sexual Predator",The Beast,"Financial Gain, Sexual Assault",Hedonistic,Male,Adult,Male,NaN
7,Bruce McArthur,1951-08-10 00:00:00,Canada,2008-2017,7,10-100,1951.0,2008.0,57.0,Gay serial murderer and rapist who would targe...,"Rapist, Sexual Predator",Santa,Sexual Assault,Hedonistic,Male,Adult,Male,NaN
9,Hubert Pil?„ÂŤ??Â­k,10/14/1891,Czechoslovakia,1948-1951,5,10+,1891.0,1948.0,57.0,Made money smuggling people across the Czechos...,Financial Motive,NaN,Financial Gain,Hedonistic,Male,Adult,Male,NaN
12,Marie Alexandrine Becker,7/14/1879,Belgium,1933-1936,11,NaN,1879.0,1933.0,54.0,Poisoned wealthy clients while working as a se...,Unknown,NaN,Financial Gain,Hedonistic,Male,Adult,Mixed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,Süleyman Aktaş,NaN,Turkey,1986-1994,5,5,NaN,1986.0,NaN,"In 1986, he killed police superintendent Nuri...","Hate Crime, Stangler",The Nailing Killer,Thrill,Hedonistic,Male,Adult,Male,Elderly
635,Valery Asratyan,NaN,Russia,1988-1990,3,3,NaN,1988.0,NaN,During Valery Asratyan's crimes as a serial ki...,"Financial Motive, Rapist, Sexual Predator",The Director,"Financial Gain, Sexual Assault",Hedonistic,Male,Adult,Female,NaN
636,Dmitry Baksheev,NaN,Russia,1999-2017,1,30,NaN,1999.0,NaN,"Dmitry Baksheev, and his wife Natalia Baksheev...",Cannibal,Cannibal Couple,Cannibalism,Hedonistic,Male,Adult,Female,NaN
637,Natalia Baksheev,NaN,Russia,1999-2017,1,30,NaN,1999.0,NaN,"Natalia Baksheev, and her husband Dmitry Baksh...",Cannibal,Cannibal Couple,Cannibalism,Hedonistic,Female,Adult,Female,NaN
638,Bakhtiyor Matyakubov,NaN,Uzbekistan,2015,3,11,NaN,2015.0,NaN,Evidence against Matyakubov includes CCTV foot...,"Financial Motive, Rapist, Necrophiliac, Sexual...",NaN,"Financial Gain, Sexual Assault",Hedonistic,Male,Adult,Female,NaN

In [93]:

# Filtering rows where the updated value is 'Hedonistic'
hedonistic_rows = df_copy[df_copy['Archetype/Classification'] == 'Power/Control']
hedonistic_rows

# Remove 'Hate Crime,' from the 'Type' column
df_copy['Type'] = df_copy['Type'].str.replace('Hate Crime, Medical', 'Medical', regex=False).str.strip()

# Verify the change
print(df_copy['Type'].unique())

['Unknown' 'Hate Crime' 'Hate Crime, Rapist, Sexual Predator'
 'Financial Motive, Rapist, Sexual Predator' 'Rapist, Sexual Predator'
 'Financial Motive' 'Torturer'
 'Cannibal, Pedophile, Rapist, Vampire, Cannibal, Torturer, Stalker, Sexual Predator, Vampire'
 'Financial Motive, Medical' 'Rapist, Stalker, Sexual Predator'
 'Rapist, Necrophiliac, Strangler, Sexual Predator'
 'Rapist, Strangler, Sexual Predator' 'Cannibal' 'Hate Crime, Strangler'
 'Rapist, Strangler, Pedophile, Sexual Predator'
 'Rapist, Torturer, Strangler, Sexual Predator' 'Sexual Predator'
 'Rapist, Pedophile, Strangler, Sexual Predator'
 'Financial Motive, Hate Crime' 'Hate Crime, Strangler, Torturer'
 'Financial Motive, Medical, Rapist, Torturer, Sexual Predator'
 'Financial Motive, Rapist, Torturer, Strangler, Sexual Predator'
 'Cannibal, Necrophiliac, Cannibal, Rapist, Sexual Predator'
 'Serial Killer, Rapist, Strangler, Vampire, Sexual Predator, Vampire'
 'Rapist, Torturer, Sexual Predator'
 'Rapist, Torturer, Strangler, Stalker, Sexual Predator'
 'Hate Crime, Torturer, Strangler' 'Pedophile, Sexual Predator'
 'Pedophile, Rapist, Strangler, Sexual Predator'
 'Rapist, Strangler, Stalker, Sexual Predator' 'Medical'
 'Sexual Predator, Strangler' 'Cannibal, Medical, Cannibal, Strangler'
 'Terrorist' 'Strangler'
 'Cannibal, Rapist, Cannibal, Torturer, Sexual Predator'
 'Serial Killer, Torturer, Strangler'
 'Necrophiliac, Torturer, Rapist, Pedophile, Sexual Predator'
 'Necrophiliac' 'Hate Crime, Rapist, Necrophiliac, Sexual Predator'
 'Vampire' 'Cannibal, Cannibal, Strangler'
 'Rapist, Necrophiliac, Sexual Predator'
 'Medical, Rapist, Necrophiliac, Stalker, Sexual Predator' 'Stalker'
 'Cannibal, Cannibal, Torturer' 'Visionary'
 'Necrophiliac, Strangler, Rapist, Sexual Predator'
 'Sexual Predator, Vampire' 'Cannibal, Cannibal, Rapist, Sexual Predator'
 'Rapist, Necrophiliac, Pedophile, Sexual Predator'
 'Pedophile, Rapist, Torturer, Sexual Predator'
 'Rapist, Torturer, Stalker, Sexual Predator'
 'Rapist, Strangler, Torturer, Sexual Predator'
 'Necrophiliac, Rapist, Sexual Predator'
 'Rapist, Stalker, Strangler, Sexual Predator' 'Medical, Sexual Predator'
 'Necrophiliac, Rapist, Strangler, Sexual Predator'
 'Financial Motive, Rapist, Torturer, Stalker, Strangler, Sexual Predator'
 'Torturer, Strangler' 'Rapist, Torturer, , Sexual Predator'
 'Cannibal, Vampire, Cannibal, Torturer'
 'Rapists, Strangler, Sexual Predator' 'Financial Motive, Strangler'
 'Torturer, Strangler, Stalker'
 'Rapist, Necrophiliac, Torturer, Strangler, Sexual Predator'
 'Rapist, Necrophiliac, Torturer, Stalker, Sexual Predator'
 'Rapist, Necrophiliac, Strangler, Stalker, Sexual Predator'
 'Cannibal, Rapist, Cannibal, Strangler, Sexual Predator'
 'Rapist, Necrophile, Strangler, Sexual Predator'
 'Sexual Predator, Strangler, Rapist'
 'Cannibal, Sexual Predator, Vampire, Rapist, Cannibal, Necrophiliac'
 'Financial Motive, Rapist, Strangler, Sexual Predator' 'Financial Gain'
 'Sexual Predator, Strangler, Rapist, Torturer, Stalker'
 'Hate Crime, Necrophiliac' 'Strangler, Necrophiliac'
 'Rapist, Necrophliac, Strangler, Sexual Predator'
 'Financial Motive, Rapist, Torturer, Strangler, Stalker, Sexual Predator'
 'Cannibal, Rapist, Vampire, Cannibal, Necrophiliac, Strangler, Sexual Predator'
 'Necrophiliac, Torturer, Strangler, Rapist, Stalker, Sexual Predator'
 'Rapist, Necrophliac, Sexual Predator'
 'Rapist, Necrophiliac, Torturer, Sexual Predator'
 'Sexual Predator, Torturer, Strangler'
 'Hate Crime, Rapist, Strangler, Sexual Predator'
 'Medical, Rapist, Torturer, Strangler, Stalker, Sexual Predator'
 'Sexual Predator, Vampire, Rapist, Pedophile, Necrophiliac'
 'Cannibal, Rapist, Torturer, Cannibal, Necrophiliac, Strangler, Sexual Predator'
 'Vigilante' 'Sexual Predator, Torturer, Stalker'
 'Pedophile, Rapist, Strangler, Stalker, Incest, Sexual Predator'
 'Financial Motive, Rapist, Necrophiliac, Strangler, Pedophile, Sexual Predator'
 'Pedophile, Rapist, Sexual Predator'
 'Hate Crime, Sexual Predator, Strangler, Rapist'
 'Sexual Predator, Vampire, Rapist, Strangler, Stalker'
 'Cannibal, Financial Motive'
 'Cannibal, Cannibal, Strangler, Rapist, Necrophiliac, Sexual Predator'
 'Rapist, Necrophiliac, Vampire, Sexual Predator'
 'Rapist, Strangler, Torturer, Stalker, Sexual Predator'
 'Torturer, Stranger'
 'Financial Motive, Serial Killer, Strangler, Stalker'
 'Cannibal, Rapist, Sexual Predator'
 'Serial Killer, Rapist, Strangler, Sexual Predator'
 'Cannibal, Cannibal, Torturer, Strangler, Sexual Predator'
 'Rapist, Pedophile, Sexual Predator'
 'Cannibal, Cannibal, Torturer, Strangler'
 'Rapist, Necrophile, Sexual Predator'
 'Cannibal, Rapist, Necrophiliac, Strangler, Cannibal, Sexual Predator'
 'Rapist, Necrophiliac, Strangler, Pedophile, Sexual Predator'
 'Rapist, Strangler, Vampire, Sexual Predator' 'Strangler, Pedophile'
 'Cannibal, Cannibal, Rapist, Strangler, Necrophiliac, Sexual Predator'
 'Financial Motive, Rapist, Torturer, Sexual Predator'
 'Medical, Rapist, Strangler, Stalker, Sexual Predator'
 'Cannibal, Rapist, Cannibal, Necrophiliac, Strangler, Sexual Predator'
 'Sexual Predator, Torturer' 'Medical, Rapist, Sexual Predator'
 'Strangler, Stalker' 'Sexual Predator, Strangler, Torturer'
 'Rapist, Serial Killer, Sexual Predator'
 'Cannibal, Sexual Predator, Vampire'
 'Cannibal, Rapist, Cannibal, Sexual Predator'
 'Necrophiliac, Sexual Predator'
 'Cannibal, Rapist, Pedophile, Necrophiliac, Strangler, Cannibal, Sexual Predator'
 'Pedophile' 'Hate Crime, Stangler'
 'Financial Motive, Rapist, Necrophiliac, Sexual Predator']

In [94]:
# Count the number of missing (NaN) values in the 'Birthday' column
missing_birthday_count = df['Birthday'].isna().sum()

print(f"Number of missing values in the 'Birthday' column: {missing_birthday_count}")
# Drop rows where 'Birthday' is missing
df_cleaned = df_copy.dropna(subset=['Birthday'])

# Verify the result
print(f"Number of rows after dropping missing birthdays: {len(df_cleaned)}")

Number of missing values in the 'Birthday' column: 114
Number of rows after dropping missing birthdays: 525

In [ ]:
# Filter rows where the updated value is 'Hedonistic'
hedonistic_rows = df_copy[df_copy['Archetype/Classification'] == 'Power and Hedonistic']
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Power and Hedonistic', 'Power/Control')
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Power', 'Power/Control')
# Filter rows where the updated value is 'Hedonistic'
hedonistic_rows = df_copy[df_copy['Archetype/Classification'] == 'Visionary']
hedonistic_rows

,Name,Birthday,Countries Active,Years Active,Proven Victims,Possible Victims,BirthYear,StartYear,Age At The Start of Killing,Notes,Type,Nickname,Reason,Archetype/Classification,Gender,Victim Age,Victim Gender,Targeted Group Type
49,L??Â©opold Dion,2/25/1920,Canada,1963,4,4,1920.0,1963.0,43.0,L??Â©opold Dion a Canadian sex offender and se...,Unknown,Monster of Port-Rouge,Mental Illness,Visionary,Male,Adult,Male,NaN
130,John George Haigh,7/24/1909,United Kingdom,1944-1949,6,9,1909.0,1944.0,35.0,Known as the Acid Bath Murderer for dissolving...,Vampire,Acid Bath Murderer,Religious,Visionary,Male,Adult,Mixed,NaN
150,Daniel Blank,6/28/1962,United States,1996-1997,6,6,1962.0,1996.0,34.0,He has a learning disability that hampers his ...,Visionary,NaN,Mental Illness,Visionary,Male,Adult,Mixed,Elderly
310,Robert Rozier,7/28/1955,United States,1981-1986,4,7,1955.0,1981.0,26.0,Rozier was a former American football defensiv...,Unknown,"Neariah Israel, Child of God",Religious,Visionary,Male,Child,Mixed,NaN
320,Herbert Mullin,4/18/1947,United States,1972-1973,13,NaN,1947.0,1972.0,25.0,"Despite detailed confessions, prosecutors deci...",Unknown,The Psychopath of Santa Cruz,Mental Illness,Visionary,Male,Adult,Male,NaN
387,Aaron Kosminski,9/11/1865,United Kingdom,1888-1891,5,11,1865.0,1888.0,23.0,Aaron Kosminski (Aron Mordke Kozmi?…Â„ski) a s...,Unknown,Jack the Ripper (possible),Mental Illness,Visionary,Male,Adult,Mixed,NaN
538,Nikolay Shubin,NaN,Russia,2004-2006,13,NaN,NaN,2004.0,NaN,Paranoid schizophrenic who killed people who b...,Unknown,NaN,Mental Illness,Visionary,Male,Adult,Male,NaN
573,Tom??Â?s Maldonado Cera,NaN,Colombia,2002-2018,7,10,NaN,2002.0,NaN,Killed people in Barranquila for the purpose o...,Unknown,The Satanist,Occult Ritual,Visionary,Male,Adult,Mixed,NaN

In [96]:

# Verify the change
unique_archetypes = df_copy['Archetype/Classification'].unique()
print(unique_archetypes)
hedonistic_rows = df_copy[df_copy['Archetype/Classification'] == 'Power/Control - Lust']
hedonistic_rows
df_copy['Archetype/Classification'] = df_copy['Archetype/Classification'].replace('Power/Control - Lust', 'Power/Control')
# Verify the change
unique_archetypes = df_copy['Archetype/Classification'].unique()
print(unique_archetypes)

['Power/Control' 'Missionary' 'Hedonistic' 'Visionary']
['Power/Control' 'Missionary' 'Hedonistic' 'Visionary']

In [ ]:
# Filter rows where 'Age At The Start of Killing' is null
missing_age_rows = df_cleaned[df_cleaned['Age At The Start of Killing'].isnull()]

# Display the rows with null values in 'Age At The Start of Killing'
print((missing_age_rows))
print(len(missing_age_rows))

                      Name             Birthday           Countries Active  \
519         Arnfinn Nesset           10/25/1936                     Norway
522      Christine Mal?vre  1970-10-01 00:00:00                     France
524         Kermit Gosnell  1941-09-02 00:00:00              United States
531          Belle Gunness           11/22/1859              United States
549          Juana Barraza           12/27/1957                     Mexico
554  Very Idham Henyansyah  1978-01-02 00:00:00                  Indonesia
567         Yoshio Kodaira            1/28/1905             China?‚Â Japan
570   Nikolai Dzhumagaliev           11/15/1952               Soviet Union
618      Ernesto Picchioni  1967-09-09 00:00:00  Kingdom of Italy?‚Â Italy

         Years Active Proven Victims Possible Victims  BirthYear  StartYear  \
519  1983 and earlier             22             138+     1936.0        NaN
522  1998 and earlier              6               30     1970.0        NaN
524        1989?-2011              4             100+     1941.0        NaN
531       1900?-1908?             13              40+     1859.0        NaN
549   late 1990s-2006             11            29-49     1957.0        NaN
554  2008 and earlier             11               11     1978.0        NaN
567        1928?-1946          8-11+               11     1905.0        NaN
570  1980 and earlier              7           50-100     1952.0        NaN
618  1949 and earlier              4               16     1967.0        NaN

     Age At The Start of Killing  \
519                          NaN
522                          NaN
524                          NaN
531                          NaN
549                          NaN
554                          NaN
567                          NaN
570                          NaN
618                          NaN

                                                 Notes  \
519  Norwegian nurse and most prolific known serial...
522  Nurse who killed terminally ill patients claim...
524  Gosnell, who ran an abortion clinic, was charg...
531  Norwegian-born murder-for-profit killer who mu...
549  Female wrestler who bludgeoned or strangled el...
554  Known as the "singing serial killer" and "Ryan...
567  A serial rapist, Kodaira killed his father-in-...
570  Lured women in a park at night and hacked them...
618  Murdered people who approached his home; died ...

                                                 Type  \
519                                           Medical
522                                           Medical
524                                           Medical
531                                Strangler, Stalker
549    Hate Crime, Rapist, Strangler, Sexual Predator
554                                           Unknown
567  Rapist, Necrophiliac, Strangler, Sexual Predator
570       Cannibal, Rapist, Cannibal, Sexual Predator
618                                           Unknown

                                 Nickname                       Reason  \
519                                   NaN                        Power
522                                   NaN               Mental Illness
524                                   NaN                        Power
531   Hell's Belle, Brynhild Paulsdatter                      Femicide
549  La Mataviejitas, The Old Lady Killer               Sexual Assault
554           Singing serial killer, Ryan                        Power
567                                   NaN               Sexual Assault
570        Metal Fang, Kolya the Maneater  Cannibalism, Sexual Assault
618                                   NaN                        Power

    Archetype/Classification  Gender Victim Age Victim Gender  \
519            Power/Control    Male      Adult          Male
522            Power/Control  Female      Adult         Mixed
524            Power/Control    Male      Child         Mixed
531            Power/Control  Female      Child        Female
549               Hedonistic    Male      Adult        Female
554            Power/Control    Male      Adult         Mixed
567               Hedonistic    Male      Adult        Female
570               Hedonistic    Male      Adult        Female
618            Power/Control    Male      Adult         Mixed

    Targeted Group Type
519             Elderly
522             Elderly
524                 NaN
531                 NaN
549             Elderly
554                 NaN
567                 NaN
570                 NaN
618                 NaN
9

In [ ]:
# Convert 'StartYear' and 'EndYear' columns to whole numbers (integer type)
df_cleaned['Age At The Start of Killing'] = df_cleaned['Age At The Start of Killing'].astype(int)

# Verify the changes
print(df_cleaned.dtypes)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer